<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Naukri Automation Suite" parallel="false" thread-count="1">

    <test name="Naukri Test">
        <classes>
            <class name="Test_Pack.NaukriTest">
                <methods>
                    <include name="naukriAutomate"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
